spring:
  cloud:
    kubernetes:
      enabled: true
      discovery:
        enabled: true
        all-namespaces: false
      config:
        enabled: true
        sources:
          - name: ${spring.application.name}

  datasource:
    url: jdbc:postgresql://postgres:5432/${DB_NAME:msdb}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}

  rabbitmq:
    host: rabbitmq
    port: 5672
    username: ${RABBITMQ_USERNAME:guest}
    password: ${RABBITMQ_PASSWORD:guest}

  jpa:
    hibernate:
      ddl-auto: update

eureka:
  client:
    enabled: false
    register-with-eureka: false
    fetch-registry: false
