spring:
  profiles:
    active: "@activatedProperties@"

  datasource:
    url: jdbc:postgresql://localhost:5432/msdb
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres

  jpa:
    properties:
      jakarta.persistence.sharedCache.mode: UNSPECIFIED
    generate-ddl: true
    hibernate:
      ddl-auto: create # important temporary
    show-sql: false
    open-in-view: false

  groovy:
    template:
      check-template-location: false

  task:
    scheduling:
      pool:
        size: 5

maven:
  basedir: "@project.basedir@"

event:
  subscriptions:
    UpdateTopicEvent:
      - question
      - tournament
    DeleteTopicEvent:
      - question
      - tournament
    DeleteUserEvent:
      - courseexecution
    UpdateStudentNameEvent:
      - answer
      - tournament
    DisenrollStudentFromCourseExecutionEvent:
      - answer
      - tournament
    DeleteCourseExecutionEvent:
      - answer
      - quiz
      - tournament
    InvalidateQuizEvent:
      - answer
      - tournament
    AnonymizeStudentEvent:
      - answer
      - tournament
    QuizAnswerQuestionAnswerEvent:
      - tournament
    UpdateQuestionEvent:
      - quiz
    DeleteQuestionEvent:
      - quiz

resilience4j:
  retry:
    instances:
      commandGateway:
        max-attempts: 5
        wait-duration: 1s
        retry-exceptions:
          - org.springframework.dao.TransientDataAccessException
        ignore-exceptions:
          - pt.ulisboa.tecnico.socialsoftware.ms.exception.SimulatorException

---

spring:
  config:
    activate:
      on-profile: stream

  cloud:
    function:
      definition: >
        commandResponseChannel;

        answerServiceCommandChannel;
        courseExecutionServiceCommandChannel;
        questionServiceCommandChannel;
        quizServiceCommandChannel;
        topicServiceCommandChannel;
        tournamentServiceCommandChannel;
        userServiceCommandChannel;
        courseServiceCommandChannel;

        quizEventChannel;
        topicEventChannel;
        userEventChannel;
        answerEventChannel;
        courseExecutionEventChannel;
        questionEventChannel;
        tournamentEventChannel;
        courseEventChannel

    stream:
      default:
        contentType: application/json

      bindings:
        # --- Command producers (outputs) ---
        quiz-command-channel:
          destination: quiz-command-channel
        topic-command-channel:
          destination: topic-command-channel
        user-command-channel:
          destination: user-command-channel
        answer-command-channel:
          destination: answer-command-channel
        course-execution-command-channel:
          destination: courseexecution-command-channel
        question-command-channel:
          destination: question-command-channel
        tournament-command-channel:
          destination: tournament-command-channel
        course-command-channel:
          destination: course-command-channel

        # --- Command consumers (inputs) ---
        quizServiceCommandChannel-in-0:
          destination: quiz-command-channel
          group: quiz-service-group
        topicServiceCommandChannel-in-0:
          destination: topic-command-channel
          group: topic-service-group
        userServiceCommandChannel-in-0:
          destination: user-command-channel
          group: user-service-group
        answerServiceCommandChannel-in-0:
          destination: answer-command-channel
          group: answer-service-group
        courseExecutionServiceCommandChannel-in-0:
          destination: courseexecution-command-channel
          group: course-execution-service-group
        questionServiceCommandChannel-in-0:
          destination: question-command-channel
          group: question-service-group
        tournamentServiceCommandChannel-in-0:
          destination: tournament-command-channel
          group: tournament-service-group
        courseServiceCommandChannel-in-0:
          destination: course-command-channel
          group: course-service-group

        # --- Response channel ---
        commandResponseChannel-in-0:
          destination: command-responses
          group: response-group

        # --- Event consumers (inputs) ---
        quizEventChannel-in-0:
          destination: quiz-event-channel
          group: quiz-service-event-group
        topicEventChannel-in-0:
          destination: topic-event-channel
          group: topic-service-event-group
        userEventChannel-in-0:
          destination: user-event-channel
          group: user-service-event-group
        answerEventChannel-in-0:
          destination: answer-event-channel
          group: answer-service-event-group
        courseExecutionEventChannel-in-0:
          destination: courseexecution-event-channel
          group: course-execution-service-event-group
        questionEventChannel-in-0:
          destination: question-event-channel
          group: question-service-event-group
        tournamentEventChannel-in-0:
          destination: tournament-event-channel
          group: tournament-service-event-group
        courseEventChannel-in-0:
          destination: course-event-channel
          group: course-service-event-group


      rabbit:
        binder:
          host: localhost
          port: 5672
