.git
.github
.gitignore
.vscode/**
.vscode-test/**
src/**
**/tsconfig.json
**/tsconfig.*.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
.prettierrc
.prettierignore
esbuild.mjs
vitest.config.ts
langium-quickstart.md
