spring:
  application:
    name: version
  datasource:
    url: jdbc:postgresql://localhost:5432/versiondb
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres

  jpa:
    properties:
      jakarta.persistence.sharedCache.mode: UNSPECIFIED
    generate-ddl: true
    hibernate:
      ddl-auto: create
    show-sql: false
    open-in-view: false

server:
  port: 8081
grpc:
  server:
    port: 9091

---
spring:
  config:
    activate:
      on-profile: stream
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  cloud:
    function:
      definition: versionCommandChannel
    stream:
      bindings:
        versionCommandChannel-in-0:
          destination: version-command-channel
          group: version-service
        command-responses-out-0:
          destination: command-responses

---
spring:
  config:
    activate:
      on-profile: "!kubernetes"
  cloud:
    discovery:
      enabled: true

eureka:
  client:
    enabled: true
    service-url:
      defaultZone: http://${EUREKA_HOST:localhost}:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
    registry-fetch-interval-seconds: 5
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name:${spring.application.name:version-service}}:${random.uuid}
    metadata-map:
      grpcPort: ${grpc.server.port}
