<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key="currentDate" datePattern="yyyy-MM-dd_HH-mm-ss" />
    <property name="LOG_FILE" value="./logs/app-test-${currentDate}.log" />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_FILE}</file>
        <append>false</append>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <!-- (1) -->
        <http>
            <url>http://localhost:3100/loki/api/v1/push</url>
        </http>
        <format>
            <!-- (2) -->
            <label>
                <pattern>app=${APP_NAME},host=${HOSTNAME},level=%level</pattern>
                <!-- (3) -->
                <readMarkers>true</readMarkers>
            </label>
            <message>
                <!-- (4) -->
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg traceId=%X{traceId} spanId=%X{spanId}%n</pattern>
            </message>
        </format>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="LOKI" />
    </root>
</configuration>
