**/target/
HELP.md
!.mvn/wrapper/maven-wrapper.jar
data/figs/.DS_Store
data/figs/*.bkp

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/


application-dev.properties
application-prod.properties

### images location ###
/src/main/resources/static/images/questions/
/src/main/resources/static/load/
/src/main/resources/static/export/

### jmeter ###
jmeter.log
scripts/run-jmeter-tests.sh
jmeter-results/


**/BehaviourReport.txt
**/CapacityReport.txt
.vscode/*

**/logs/

### Python ###
**/__pycache__/
