# Application Configuration (YAML format)
spring:
  application: 
    name: answers

  datasource: 
    url: jdbc:postgresql://postgres:5432/answers_db
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: password

  jpa: 
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate: 
      ddl-auto: create-drop
    show-sql: true
    properties: 
      hibernate: 
        format_sql: true

server:
  port: 9115

events:
  async: true
  thread-pool-size: 10
