apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: microservices-simulator
spec:
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
  clusterIP: None
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init
  namespace: microservices-simulator
data:
  init-databases.sh: |
    #!/bin/bash
    set -e
    
    psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
        CREATE DATABASE versiondb;
        CREATE DATABASE answerdb;
        CREATE DATABASE coursedb;
        CREATE DATABASE executiondb;
        CREATE DATABASE questiondb;
        CREATE DATABASE quizdb;
        CREATE DATABASE topicdb;
        CREATE DATABASE tournamentdb;
        CREATE DATABASE userdb;
    EOSQL
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres
  namespace: microservices-simulator
spec:
  serviceName: postgres
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:14-alpine
          args:
            - "-c"
            - "max_connections=2000"
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              value: "msdb"
            - name: POSTGRES_USER
              value: "postgres"
            - name: POSTGRES_PASSWORD
              value: "postgres"
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data
            - name: init-script
              mountPath: /docker-entrypoint-initdb.d
          readinessProbe:
            exec:
              command:
                - pg_isready
                - -U
                - postgres
            initialDelaySeconds: 5
            periodSeconds: 10
      volumes:
        - name: init-script
          configMap:
            name: postgres-init
  volumeClaimTemplates:
    - metadata:
        name: postgres-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 1Gi
